.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: all 250ms linear;

  border: 1px solid black;
  border-radius: 5px;
}

.item:hover,
.item:focus {
  scale: 1.02;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.651);
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 7px;
  }
}
